.App {
  text-align: center;
}

.header{
  padding-left: 16px;
}

.navbar {
  display: flex;
  border-bottom: 2px solid lightgray;
  padding-left: 8px;
}

.tab {
  background-color: white;
  color: black;
  padding: 8px;
  text-align: center;
}

.tab:hover {
  background-color: lightgray;
  cursor: pointer;
}

.scroll-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 20;
    border: none;
    outline: none;
    padding: 8px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.home-main {
  display: flex;
}

.home-main > div {
  padding: 8px;
}

.proj-link {
  display: flex;
}

.proj-link > div {
  padding: 8px;
}

.proj-img > a > img {
  height: auto;
  max-width: 200px;
}

.proj-textbox {
  position: relative;
  flex-grow: 1;
  width: 200px;
}

.proj-text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1em;
  padding: 8px;
  justify-content: center;
}

.img-main > div > img {
  height: auto;
  max-width: 100%;
}

.img-main > div > img:hover {
  cursor: pointer;
}

.vid-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 420px);
  gap: 1em;
  padding: 8px;
  justify-content: center;
}

.gb-main {
  display: flex;
  justify-content: space-between;
}

.msg-form {
  background-color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  justify-self: left;
  width: 25%;
  margin: 32px;
  padding: 32px;
}

.msg-form > h2 {
  margin-top: 0;
}

.msg-form > p {
  margin-bottom: 8px;
}

.msg-form > select {
  border: 0;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.msg-form > input {
  border: 0;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

.msg-form > textarea {
  border: 0;
  box-sizing: border-box;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  resize: none;
  width: 100%;
}

.msg-form-button {
  border: 0;
  background-color: rgb(247, 76, 76);
  color: white;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

#form-error {
  color: red;
}

.msg-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  margin: 32px;
  max-height: 80vh;
  max-width: 50vw;
  overflow: auto;
}

.gb-msg {
  padding: 16px;
}

.gb-msg-header {
  display: flex;
  align-items: center;
}

.gb-msg-header > h3 {
  font-size: 18px;
  margin: 0;
}

.gb-msg-date {
  color: rgb(143, 143, 143);
  font-size: small;
  margin: 0;
}

.gb-msg-desc {
  padding-top: 2px;
  padding-left: 8px;
  font-size: small;
  margin: 0;
  color: rgb(51, 51, 51);
}

.gb-msg-text {
  margin: 0;
  padding-top: 8px;
}

.movies-main {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 4px;
  justify-content: center;
}

.movies-main > img:hover {
  cursor: pointer;
  opacity: 0.5
}