.App {
  text-align: center;
}

.header{
  padding-left: 16px;
}

.navbar {
  display: flex;
  border-bottom: 2px solid lightgray;
  padding-left: 8px;
}

.tab {
  background-color: white;
  color: black;
  padding: 8px;
  text-align: center;
}

.tab:hover {
  background-color: lightgray;
  cursor: pointer;
}

.scroll-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 20;
    border: none;
    outline: none;
    padding: 8px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.home-main {
  display: flex;
}

.home-main > div {
  padding: 8px;
}

.proj-link {
  display: flex;
}

.proj-link > div {
  padding: 8px;
}

.proj-img > a > img {
  height: auto;
  max-width: 200px;
}

.proj-textbox {
  position: relative;
  flex-grow: 1;
  width: 200px;
}

.proj-text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.img-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 1em;
  padding: 8px;
  justify-content: center;
}

.img-main > div > img {
  height: auto;
  max-width: 100%;
}

.img-main > div > img:hover {
  cursor: pointer;
}

.vid-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 420px);
  gap: 1em;
  padding: 8px;
  justify-content: center;
}